.greeting input {
    width: 333px;
    font-size: 35px;
    color: snow;
    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid snow;
}
.greeting input:focus {
    outline: none;
}


.greeting {
    margin: 0 auto;
    text-align: center;

}
.greeting h2 {
    font-size: 140px;
    padding: 0;
    margin: 0;
}
.greeting h3 {
    font-size: 66px;
    padding: 0;
    margin: 0;
}
.greeting p {
    font-size: 35px;
}
.none {
    display: none;
}

